body{
    background-color: white;
    padding-bottom: 1500px;
}

*{
    font-family: Poppins, sans-serif, arial;
}

.heading{
    margin-top: 250px;
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    cursor: pointer;
}

.heading span{
    font-weight: 600;
}

.subtitle{
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    cursor: pointer;
}

.line{
    width: 700px;
}