@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400&display=swap');

*{
    font-family: 'Nunito', 'Poppins', sans-serif, arial;
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #140d39;
    background-position: center;
}

.heading{
    right: 50%;
    left: 45%;
    position: absolute;
    top: 48%;
    transform: translateY(-52%);
    border-left: solid whitesmoke 3px;
    padding-left: 15px;
    font-size: 20px;
    cursor: default;
}

.sign-up{
    color: #A5D7E8;
    border: #A5D7E8 2px solid;
    border-radius: 14px;
    position: absolute;
    right: 20%;
    top: 48%;
    padding: 10px 25px 10px 25px;
    font-size: 30px;
    background-image: linear-gradient(140deg, #6bbad4, #005dfd, #572692);
    cursor: pointer;
    transition: text-shadow 0.15s, box-shadow 0.15s;
    font-weight: 900;
}
.sign-up:hover{
    text-shadow: 0 0 7px rgba(165, 215, 232, 0.911);
    box-shadow: 0 0 7px rgba(165, 215, 232, 0.911);
    transition: text-shadow 0.25s, box-shadow 0.25s;
}
