  body {
    font-family: Poppins, sans-serif;
    background-color: rgb(243, 241, 241);
  }
  
  .container{
    background-color: white;
    border: 1px solid grey;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    padding: 25px;
    top: 145%;
    transform: translateY(45%);
    margin-left: 50px;
    margin-right: 50px;
  }
  .container h1, p{
    text-align: center;
  }
  .container label{
    margin: 10px;
  }
  .container input{
    background-color: white;
    border: solid grey 1px;
    border-radius: 5px;
    padding: 2px;
    color: grey;
    cursor: pointer;
  }

  .email{
    right: 120%;
    transform: translatex(20%);
    margin-bottom: 10px;
  }

  .password{
    right: 112.3%;
    transform: translatex(12.3%);
    margin-bottom: 10px;
  }

  .repeat{
    right: 99%;
    transform: translatex(-1%);
  }

  .remember{
    margin-top: 20px;
    right: 135%;
    transform: translatex(35%);
  }

  .remember label input{
    border: solid 1px;
  }

  .clearfix{
    display: flex;
    justify-content: center;
  }

  .clearfix button{
    background-color: white;
    border: solid lightskyblue 2px;
    border-radius: 5px;
    color: lightskyblue;
    cursor: pointer;
    padding: 16px 30px 16px 30px;
    margin: 20px;
    font-size: 18px
  }
  .clearfix button:hover{
    color: white;
    box-shadow: 4px 7px 7px rgba(0, 0, 0, 0.2);
    background-color: lightskyblue;
    transition: all 0.15s;
  }